*{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.Soon{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
h1{
    font-size: 65px;
    letter-spacing: 15px;
}

h3{
    letter-spacing: 8px;
    margin-bottom: 30px;
}
hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}
p{
    font-size: 20px;
    margin-bottom: 30px;
}
#launch{
    font-size: 40px;
    word-spacing: 20px;
}

  .footer-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
    z-index: 999; 
}

.footer-bottom .container {
    max-width: 100%;
}


.copyright-text {
    color: white;
    font-size: 16px;
}


.copyright-link {
    color: Red;
    text-decoration: none;
}


.copyright-link:hover {
    text-decoration: underline;
}














